@font-face {
    font-family: 'HankenGrotesk';
    src: url('HankenGrotesk-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'HankenGroteskItalic';
    src: url('HankenGrotesk-Italic-VariableFont_wght.ttf');
}