:root{
    --blue-accent: #A7E6FF;
    --yellow-background: #FFFCED;
}

*{
    margin: 0; padding: 0;
    font-family: 'Montserrat';
}

html{
    background-color: var(--yellow-background);
}

h1{
    font-family: 'MoreSugar';
    width: fit-content;
    margin: 0 auto;
    font-size: 110px;
    color: var(--yellow-background);
}

body{
    min-height: 100vh;
}

nav{
    position: fixed;
    z-index: 10;

    height: 80px;

    background-color: var(--yellow-background);

    border-bottom: solid 6px var(--blue-accent);

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navIcon{
    display: none;
}
.navIcon.image{
    width: 56px; height: 56px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    display: block;
}

.navLink a{
    text-decoration: none;
    color: black;
    font-weight: 550;
    transition: font-weight 0.1s ease-out;
    font-size: 18px;
}
.navLink a:hover{
    font-weight: 700;
    transition: font-weight 0.2s ease-out;
}

.home-logo{
    height: 50px;
}

#content{
    padding-top: calc(80px + 6px); /* ajouter la hauteur de la nav + la bordure */
    min-height: calc(100vh - (80px + 6px)); /* retirer la hauteur de la nav + la bordure */
    padding-bottom: 130px; /*hauteur du footer + un peu de marge*/
    position: relative;
}

.topHeroImage{
    background-image: url('/assets/img/background.webp');
    background-position: center;
    background-size: cover;

    width: 100%;

    height: 300px;

    margin-bottom: 30px;
}

.topHeroImage h1{
    width: 100%; height: 100%;
    align-content: center;
    text-align: center;
    backdrop-filter: brightness(0.75);

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 et IE 11 */
    user-select: none; /* Standard */
}

.cls-1{
    fill: var(--blue-accent);
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: gray;/* DEV */
    height: 100px;
}


@media screen and (max-width: 576px) {
    nav{
        bottom: 0;

        border: solid 6px var(--blue-accent);
        width: calc(100% - 12px);
        
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        border-bottom: none;
    }

    .navLink{
        position: relative;
    }

    .navLink a{
        width: 50px;
        height: 50px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

    .navLinkText{
        display: none;
    }

    #content{
        padding-top: 0;
    }

    .topHeroImage{
        height: 180px;
    }

    .navIcon{
        display: block;
        height: 50px;
    }

    h1{
        font-size: 80px;
    }
    
}

@media screen and (min-width: 576px) {
    /* styles tablettes */
    
}

/* 960px pc  */