:root {
    --blue-accent: #7FB096;
    --yellow-background: #FFFCED;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--yellow-background);
}

h1 {
    font-family: 'MoreSugar';
    width: fit-content;
    margin: 0 auto;
    font-size: 75px;
    color: var(--yellow-background);
}

nav {
    position: fixed;
    z-index: 10;
    height: 80px;
    background-color: var(--yellow-background);
    border-bottom: solid 6px var(--blue-accent);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navIcon {
    display: none;
}

.navIcon.image {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    display: block;
}

.navLink a {
    text-decoration: none;
    color: black;
    font-weight: 550;
    transition: font-weight 0.1s ease-out;
    font-size: 18px;
}

.navLink a:hover {
    font-weight: 700;
    transition: font-weight 0.2s ease-out;
}

.home-logo{
    height: 50px;
}


#content {
    flex: 1;
    padding-top: calc(80px + 6px); /* Add nav height + border */
    padding-bottom: 100px; /* Space for the footer */
    box-sizing: border-box;
}

.topHeroImage {
    background-image: url('/assets/img/background.webp');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 180px;
    margin-bottom: 30px;
}

.topHeroImage h1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    backdrop-filter: brightness(0.75);
    -webkit-user-select: none; 
    -ms-user-select: none;
    user-select: none; 
}

.cls-1 {
    fill: var(--blue-accent);
}

footer {
    background-color: #0a6847;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: auto;
}

.footerContainer {
    display: flex;
    flex-direction: column;
}

.socialIcons {
    margin-bottom: 20px;
}

.socialIcons a {
    color: white;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.6s, background-color 0.6s;
    background-color: white; 
    color: #0a6847; 
    padding: 10px; 
    border-radius: 50%; 
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px; 
    height: 44px; 
    text-decoration: none; 
}

.socialIcons a:hover {
    background-color: #7aba78; 
    color: white; 
}

#signForm{
    border: solid 3px #7FB096;
    padding: 20px 25px;
    width: 60%;
    max-width: 900px;
    margin: 60px auto;
    background-color: #F0F0EE;
    border-radius: 25px;
}

#signForm label {
    font-weight: 500;
    font-size: 20px;
    text-wrap: nowrap;
}

#signForm span.thin{
    font-weight: 400;
    font-size: 18px;
}

#signForm .formDouble{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#signForm .formBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
    width: 50%;
    min-width: 380px;
}

@media screen and (max-width: 1350px){
    #signForm .formBox {
        width: 100%;
    }
}

#signForm input[type=text],
#signForm input[type=email],
#signForm input[type=password]{
    margin: 6px;
    padding: 8px 12px;
    font-size: 18px;
    border: solid 2px #7FB096;
    border-radius: 6px;
    font-weight: 500;
    width: 80%;
}

#signForm input[type=submit],
#signForm p.addPicture{
    margin: 6px auto;
    padding: 14px 20px;
    font-size: 20px;
    color: white;
    background-color: #7FB096;
    border: solid 2px #7FB096;
    border-radius: 6px;
    font-weight: 500;
    transition: all 0.1s ease-out;
}

#signForm p.addPicture{
    text-wrap: nowrap;
    padding: 12px;
    font-size: 18px;
    font-weight: 450;
    margin: 10px auto;
}

#signForm input[type=submit]:hover,
#signForm p.addPicture:hover{
    transition: all 0.2s ease-out;
    cursor: pointer;
    background-color: transparent;
    color: black;
    border: solid 2px #7FB096;
    font-weight: 600;
}

#signForm #picturePreview{
    height: 80px;
}

#signForm .signup-link p{
    margin: 0 auto;
    width: fit-content;
    font-size: 16px;
    font-weight: 450;
}

#signForm .signup-link p a{
    text-decoration: none;
    color: #7FB096;
    font-weight: 600;
}

.footerNav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.footerNav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    transition: color 0.3s;
}

.footerNav a:hover {
    color: #7aba78; 
}

.footerNav .contact-button {
    background-color: white;
    color: #0a6847;
    padding: 10px 20px;
    border-radius: 20px; 
    font-weight: 700; 
    transition: background-color 0.6s, color 0.6s; 
}

.footerNav .contact-button:hover {
    background-color: #7aba78; 
    color: white;
}

.footerBottom {
    margin-top: 20px;
}

.footer-logo {
    height: 80px;
    max-width: 100%;
    display: block;
    margin: 0 auto 20px; 
}

.footerBottom p {
    color: white;
}


/* Téléphone */

@media screen and (max-width: 576px) {
    body {
        background-color: #F0F0EE;
    }

    .topHeroImage {
        background-image: url('/assets/img/BackgroundTel.webp');
        background-size: cover;
        background-position: center;
        height: 180px;
    }

    nav {
        bottom: 0;
        background-color: #F0F0EE;
        border: solid 3px #7FB096;
        width: calc(100% - 2px);
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom: none;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    }

    .navLink a:active {
        color: #A7E6FF; 
    }

    .navLink {
        position: relative;
    }

    .navLink a {
        width: 50px;
        height: 50px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

    .navLinkText {
        display: none;
    }

    #content {
        padding-top: 0;
    }

    .navIcon {
        display: block;
        height: 50px;
    }

    

    h1 {
        font-size: 15vw;
    }

    footer {
        display: none;
    }

    #signForm{
        width: 80%;
        margin: 30px auto;
    }

    #signForm .formBox{
        min-width: 0;
    }

    #signForm input[type=text],
    #signForm input[type=email],
    #signForm input[type=password]{
        width: 95%;
    }

    form {
        width: 90%;
        max-width: 400px;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    form input[type="text"],
    form input[type="email"],
    form input[type="password"],
    form input[type="file"],
    form input[type="submit"] {
        width: 100%;
        padding: 15px;
        margin: 10px 0;
        border-radius: 25px;
        border: 1px solid #7FB096;
        font-size: 16px;
        box-sizing: border-box;
    }

    form input[type="text"]:focus,
    form input[type="email"]:focus,
    form input[type="password"]:focus,
    form input[type="file"]:focus,
    form input[type="submit"]:focus {
        border-color: black; 
        outline: none; 
    }
    
    form input[type="submit"] {
        background-color: #7FB096;
        color: white;
        font-weight: bold;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    
    form input[type="submit"]:hover {
        background-color: #5A8A73;
    }
    
    form p {
        text-align: center;
        margin-top: 15px;
    }
    
    form p a {
        color: #7FB096;
        text-decoration: none;
        font-weight: bold;
    }
    
    .signup-link {
        text-align: center;
        margin-bottom: 20px;
    }

    .signup-link a {
        color: #7FB096;
        text-decoration: none;
        font-weight: bold;
    }

    .signup-link a:hover {
        text-decoration: underline;
    }

    .profile-info {
        text-align: center;
    }

    .profile-picture {
        margin-bottom: 20px;
    }

    .profile-picture img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 5px solid #7FB096; 
    }

    h2 {
        margin-top: -20px;
        margin-bottom: 5px;
    }

    .stars {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .stars svg {
        width: 25px; 
        height: 25px; 
        margin: 0 3px;
        margin-bottom: 50px;
    }

    /* Style du bouton Paramètres */
    .dropdown {
        position: relative;
        display: flex; /* Utilisation de flexbox */
        justify-content: center; /* Centre le contenu horizontalement */
    }

    .dropbtn {
        background-color: #7FB096;
        color: white;
        padding: 12px 16px;
        font-size: 16px;
        border: 2px solid #7FB096;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    }

    .dropbtn:focus {
        outline: none;
    }

    /* Style du contenu du menu déroulant */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        top: 100%; /* Positionne le menu déroulant en dessous du bouton */
        left: 50%;
        transform: translateX(-50%); /* Déplace le menu déroulant de moitié de sa propre largeur vers la gauche */
    }

    /* Affichage du menu déroulant lorsque le bouton est survolé */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
}