:root {
    --blue-accent: #7FB096;
    --yellow-background: #FFFCED;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--yellow-background);
    position: relative;
    min-height: 100vh; 
    width: 100%;
    margin: auto; 
}

h1 {
    font-family: 'MoreSugar';
    width: fit-content;
    margin: 0 auto;
    font-size: 75px;
    color: var(--yellow-background);
}

h2.pageSeconTitle {
    margin: 30px auto;
    width: fit-content;
    font-size: 34px;
    font-weight: 700;
    text-align: center;
}

h2.pageSeconTitle span.more-sugar {
    font-family: 'MoreSugar';
    font-size: 44px;
}

.customCheckBox{
    width: 22px;
    height: 22px;
    background-color: #f0f0ee;
    display: inline-block;
    border: solid 2px #7FB096;
    border-radius: 6px;
    margin: 6px;
}
.customCheckBox.checked{
    background-color: #7fb096;
}

nav {
    position: fixed;
    z-index: 10;
    height: 80px;
    background-color: var(--yellow-background);
    border-bottom: solid 6px var(--blue-accent);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navIcon {
    display: none;
}

.navIcon.image {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    display: block;
}

.navLink a {
    text-decoration: none;
    color: black;
    font-weight: 550;
    transition: font-weight 0.1s ease-out;
    font-size: 22px;
}

.navLink a:hover {
    font-weight: 700;
    transition: font-weight 0.2s ease-out;
}

.home-logo {
    height: 50px;
}


#content {
    flex: 1;
    padding-top: calc(80px + 6px);
    /* Add nav height + border */
    padding-bottom: calc(300px + 40px + 30px);
    /* Space for the footer + padding + marge */
    box-sizing: border-box;
    margin-bottom: 40px; /* Ajustez la valeur selon l'espace souhaité */
}

.topHeroImage {
    background-image: url('/assets/img/background.webp');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 180px;
    margin-bottom: 30px;
}

.topHeroImage h1 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    backdrop-filter: brightness(0.75);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cls-1 {
    fill: var(--blue-accent);
}

footer {
    background-color: #7FB096;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: auto;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 300px;
}

.footerContainer {
    display: flex;
    flex-direction: column;
}

.socialIcons {
    margin-bottom: 20px;
}

.socialIcons a {
    color: white;
    font-size: 24px;
    margin: 0 10px;
    transition: color 0.6s, background-color 0.6s;
    background-color: white;
    color: #7FB096;
    padding: 10px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    text-decoration: none;
}

.socialIcons a:hover {
    background-color: black;
    color: white;
    transition: color 0.6s, background-color 0.6s;
}

#signForm,
#addGardenForm {
    border: solid 3px #7FB096;
    padding: 20px 25px;
    width: 60%;
    max-width: 900px;
    margin: 60px auto;
    background-color: #F0F0EE;
    border-radius: 25px;
}
#addGardenForm{
    margin-top: 0;
}

#signForm label,
#addGardenForm label {
    font-weight: 500;
    font-size: 20px;
    text-wrap: nowrap;
}

#signForm span.thin,
#addGardenForm span.thin {
    font-weight: 400;
    font-size: 18px;
}

#signForm .formDouble,
#addGardenForm .formDouble {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

#signForm .formBox,
#addGardenForm .formBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0;
    width: 50%;
}

#signForm input[type=text],
#signForm input[type=email],
#signForm input[type=password],
#addGardenForm input[type=text] {
    margin: 6px;
    padding: 8px 12px;
    font-size: 17px;
    border: solid 2px #7FB096;
    border-radius: 6px;
    font-weight: 500;
    width: 80%;
    caret-color: #7FB096;
}

#signForm input[type=submit],
#signForm p.addPicture,
#addGardenForm input[type=submit],
#addGardenForm p.addPicture,
#addGardenForm a#addPlotButton {
    margin: 6px auto;
    padding: 14px 20px;
    font-size: 20px;
    color: white;
    background-color: #7FB096;
    border: solid 2px #7FB096;
    border-radius: 6px;
    font-weight: 500;
    transition: all 0.1s ease-out;
}

#signForm p.addPicture,
#addGardenForm p.addPicture,
#addGardenForm a#addPlotButton {
    text-wrap: nowrap;
    padding: 12px;
    font-size: 18px;
    font-weight: 450;
    margin: 12px;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}

#addGardenForm a#addPlotButton{
    margin: 12px auto;
}

#signForm input[type=submit]:hover,
#signForm p.addPicture:hover,
#addGardenForm input[type=submit]:hover,
#addGardenForm p.addPicture:hover,
#addGardenForm a#addPlotButton:hover {
    transition: all 0.2s ease-out;
    cursor: pointer;
    background-color: transparent;
    color: black;
    border: solid 2px #7FB096;
}

#signForm input[type=submit]:hover {
    font-weight: 600;
}

#signForm #picturePreview {
    height: 80px;
    width: 80px;
    margin: 12px;
    border: solid 1px #7FB096;
    border-radius: 50%;
    display: inline-block;
    object-fit: cover;
}

#addGardenForm #picturePreview {
    height: 80px;
    aspect-ratio: 15/8;
    margin: 12px;
    border: solid 1px #7FB096;
    border-radius: 8px;
    display: inline-block;
    object-fit: cover;
}

#picturePreview:hover{
    cursor: pointer;
}

#signForm #picturePreviewContainer,
#addGardenForm #picturePreviewContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#signForm .signup-link p {
    margin: 0 auto;
    width: fit-content;
    font-size: 16px;
    font-weight: 450;
}

#signForm .signup-link p a {
    text-decoration: none;
    color: #7FB096;
    font-weight: 600;
    text-wrap: nowrap;
}

#addGardenForm .plot{
    font-size: 20px;
    font-weight: 430;
    margin-bottom: 4px;
    text-align: center;
}

#addGardenForm .plot input{
    width: 50px;
    background-color: #F0F0EE;
    border: solid 1px #7FB096;
    padding: 0 3px;
    font-size: 18px;
    font-weight: 500;
    
}

#addGardenForm .plot input:focus{
    outline: none;
}

#addGardenForm .plot span{
    text-wrap: nowrap;
}

#addGardenForm .publish{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

#addGardenForm .plotsList{
    margin: 0 auto;
}

#propositionsAdresses{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}
#propositionsAdresses:hover{
    cursor: pointer;
}

.footerNav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
    justify-content: center;
}

.jardinsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 260px;
    grid-gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 60px;
}

@media screen and (max-width: 1350px) {
    #signForm .formBox,
    #addGardenForm .formBox {
        width: 100%;
    }

    #signForm input[type=text],
    #signForm input[type=email],
    #signForm input[type=password],
    #addGardenForm input[type=text] {
        width: 90%;
    }

    .jardinsContainer {
        grid-template-columns: 1fr 1fr;
        width: 95%;
        max-width: 900px;
    }
}
@media screen and (max-width: 700px){
    #addGardenForm #addPicture{
        width: 33%;
        max-width: 200px;
        text-wrap: wrap;
        text-align: center;
    }
}

.carteJardin {
    border: solid 2px #7fb096;
    border-radius: 12px;
    padding: 20px;
    padding-top: 118px;
    position: relative;
    overflow: hidden;
    background-color: #f0f0ee;
}

.carteJardin img.photoJardin {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.carteJardin .jardinTitle {
    font-weight: 600;
    font-size: 18px;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
}

.carteJardin .jardinGPS {
    font-weight: 400;
    font-size: 14px;
    color: rgb(155, 155, 155);
    width: fit-content;
    margin: 0 auto;
}

.carteJardin .jardinDetails {
    display: flex;
    justify-content: center;
    flex-direction: row;
    font-weight: 500;
}

.carteJardin .separator {
    width: 100px;
    height: 1px;
    background: gray;
    margin: 6px auto;
}

.carteJardin .jardinDetails .separator {
    width: 1px;
    height: 14px;
    background: gray;
    margin: auto 10px;
}

.carteJardin .jardinDetails .actif {
    color: #0a6847;
}

.carteJardin .jardinDetails .inactif {
    color: rgb(134, 28, 28);
}

.carteJardin .jardinActions {
    margin: 0 auto;
    margin-top: 6px;
    width: fit-content;
    display: flex;
    align-items: center;
}

.carteJardin .jardinActions a {
    text-decoration: none;
    background-color: #7FB096;
    border: solid 2px #7FB096;
    color: white;
    padding: 10px 12px;
    margin: 8px;
    border-radius: 8px;
    transition: 0.1s all ease-out;
}

.carteJardin .jardinActions a:hover {
    background-color: #f0f0ee;
    color: black;
    transition: 0.2s all ease-out;
    font-weight: 500;
}


.footerNav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    transition: background-color 0.3s, color 0.3s;
}

.footerNav a:hover {
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

.footerNav .contact-button {
    background-color: white;
    color: #7FB096;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 700;
    transition: color 0.6s, background-color 0.6s;
}

.footerNav .contact-button:hover {
    background-color: black;
    color: white;
    transition: color 0.6s, background-color 0.6s;
}

.footerBottom {
    margin-top: 20px;
}

.footer-logo {
    height: 80px;
    max-width: 100%;
    display: block;
    margin: 0 auto 20px;
}

.footerBottom p {
    color: white;
}


/* Téléphone */

@media screen and (max-width: 576px) {
    body {
        background-color: #FFFCED;
    }

    .topHeroImage {
        background-image: url('/assets/img/BackgroundTel.webp');
        background-size: cover;
        background-position: center;
        height: 180px;
    }

    nav {
        bottom: 0;
        background-color: #F0F0EE;
        border: solid 3px #7FB096;
        width: calc(100% - 2px);
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom: none;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    }

    .navLink a:active {
        color: #A7E6FF;
    }

    .navLink {
        position: relative;
    }

    .navLink a {
        width: 50px;
        height: 50px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

    .navLinkText {
        display: none;
    }

    #content {
        padding-top: 0;
    }

    .navIcon {
        display: block;
        height: 50px;
    }


    h1 {
        font-size: 15vw;
    }

    h2.pageSeconTitle {
        font-size: 7vw;
    }

    footer {
        display: none;
    }

    .jardinsContainer {
        grid-template-columns: 1fr;
        width: 90%;
    }

    #signForm,
    #addGardenForm {
        width: 80%;
        margin: 30px auto;
    }

    #signForm .formBox,
    #addGardenForm .formBox {
        min-width: 0;
    }

    #signForm input[type=text],
    #signForm input[type=email],
    #signForm input[type=password],
    #addGardenForm input[type=text] {
        width: 95%;
    }

    #addGardenForm #picturePreviewContainer{
        flex-direction: column;
        margin-top: 5px;
    }
    #addGardenForm #addPicture {
        text-wrap: nowrap;
        width: fit-content;
    }

    #addGardenForm .plotsList{
        margin-bottom: 10px;
    }

    form {
        width: 90%;
        max-width: 400px;
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form input[type="text"],
    form input[type="email"],
    form input[type="password"],
    form input[type="file"],
    form input[type="submit"] {
        width: 100%;
        padding: 15px;
        margin: 10px 0;
        border-radius: 25px;
        border: 1px solid #7FB096;
        font-size: 16px;
        box-sizing: border-box;
    }

    form input[type="text"]:focus,
    form input[type="email"]:focus,
    form input[type="password"]:focus,
    form input[type="file"]:focus,
    form input[type="submit"]:focus {
        border-color: black;
        outline: none;
    }

    form input[type="submit"] {
        background-color: #7FB096;
        color: white;
        font-weight: bold;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    form input[type="submit"]:hover {
        background-color: #5A8A73;
    }

    form p {
        text-align: center;
        margin-top: 15px;
    }

    form p a {
        color: #7FB096;
        text-decoration: none;
        font-weight: bold;
    }

    .signup-link {
        text-align: center;
        margin-bottom: 20px;
    }

    .signup-link a {
        color: #7FB096;
        text-decoration: none;
        font-weight: bold;
    }

    .signup-link a:hover {
        text-decoration: underline;
    }

    h2 {
        margin-top: -20px;
        margin-bottom: 5px;
    }

}