@font-face {
    font-family: 'MoreSugar';
    src: url('MoreSugar-Regular.ttf');
}
@font-face {
    font-family: 'MoreSugarThin';
    src: url('MoreSugar-Thin.ttf');
}
@font-face {
    font-family: 'MoreSugarExtras';
    src: url('MoreSugar-Extras.ttf');
}